@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply transition ease-in-out delay-100 py-2 px-4 bg-teal-500 text-white font-semibold rounded-lg shadow-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-75 shadow-lg drop-shadow-2xl hover:-translate-y-1 hover:scale-110;
  }
  .btn-home {
    @apply transition ease-in-out delay-300 m-20 p-2 text-3xl bg-gradient-to-r from-green-400 to-blue-500 hover:from-blue-500 hover:to-green-500 rounded-lg shadow-md font-semibold;
  }
  .heading {
    @apply text-4xl font-bold text-center pb-10 text-white;
  }
  .sub-heading {
    @apply text-2xl font-bold text-left pt-10 text-white;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  overflow-y: scroll;
}

h1 {
  text-align: center;
}

.accordion {
  font-size: 17px;
  margin: 0 20px;
}

.accordion__button {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: inherit;
  background-color: #f0f0f0;
}

.accordion__button span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  font-size: 15px;
}

.accordion__button:focus {
  outline: none;
}

.accordion__content {
  padding: 0 20px;
  opacity: 0;
  transition: all 0.5s;
  height: 0;
  margin: 0;
  margin-top: -10px;
  border: 1px solid #f1f1f1;
  border-top: 0;
}

.accordion__content.active {
  height: auto;
  opacity: 1;
  padding: 20px;
}
